<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmaApp">

        <receiver
            android:name=".view.GeofenceBroadcastReceiver"
            android:exported="false" />

        <!-- Re-registra las geocercas cuando el dispositivo termina de arrancar.
             Sin esto, al reiniciar el movil, las alarmas dejarian de funcionar. -->
        <receiver
            android:name=".view.BootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlarmaActivaActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="false"/>

        <service
            android:name=".AlarmaService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>

        <activity android:name=".crud.NuevaAlarmaActivity" />
        <activity android:name=".MapaActivity" />
        <activity android:name=".crud.EditarAlarmaActivity" />
        <activity android:name=".navegacion.ListaAlarmasActivity" android:exported="false"/>
        <activity android:name=".navegacion.MapaGeneralActivity" android:exported="false"/>
        <activity android:name=".navegacion.EstadisticasActivity" android:exported="false"/>
        <activity android:name=".navegacion.DetalleEstadisticasActivity" android:exported="false"/>
        <activity android:name=".navegacion.CategoriasActivity" android:exported="false"/>
        <activity android:name=".navegacion.RepeticionActivity" android:exported="false"/>
        <activity android:name=".navegacion.ContactosActivity" android:exported="false"/>
        <activity android:name=".navegacion.ConfiguracionActivity" android:exported="false"/>


    </application>

</manifest>